@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-BlackItalic.eot');
	src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
		url('font/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-BlackItalic.woff') format('woff'),
		url('font/Gilroy-BlackItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Black.woff') format('woff'),
		url('font/Gilroy-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}